<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop = "http://www.springframework.org/schema/aop"
	xmlns:p = "http://www.springframework.org/schema/p"
	xmlns:c = "http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
		
	<aop:aspectj-autoproxy />
		
	<bean name = "triangle" class = "com.cinema.aop.examples.kou.model.Triangle">
		<property name = "name" value = "Triangle" />
	</bean>
	
	<bean name = "circle" class = "com.cinema.aop.examples.kou.model.Circle">
		<property name = "name" value = "Circle" />
	</bean>

	<bean name = "shapeService" class = "com.cinema.aop.examples.kou.service.ShapeService" 
			autowire = "byName" />
			
	<bean name = "user" class = "com.cinema.aop.examples.kou.model.User">
		<constructor-arg value = "1" />
		<constructor-arg value = "Peter" />
	</bean>
	
	<bean name = "userService" class = "com.cinema.aop.examples.kou.service.UserService" autowire = "byName" />
			
	<!-- Aspects -->		
	<bean name = "loggingAspect" class = "com.cinema.aop.examples.kou.aspect.LoggingAspect" />
	<bean name = "counterAspect" class = "com.cinema.aop.examples.kou.aspect.CounterAspect" />
	<bean name = "userAspect" class = "com.cinema.aop.examples.kou.aspect.UserAspect" />
	
</beans>